<!-- <div class="wrapper">
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of lista">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.url" [alt]="slide.title" [title]="slide.title">
      </ng-template>
    </ng-container>

  </owl-carousel-o>  
</div> -->

<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template> 
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template> 
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template> 
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template> 
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template> 
  <ng-template carouselSlide><img src="https://via.placeholder.com/600/24f355" alt="hola" title="hola"></ng-template>  
  
</owl-carousel-o>
<div>Some tags after</div> -->

<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let slide of lista"><div class="cuadro"><div class="interior">Hola</div></div></ng-template>   
</owl-carousel-o>
<div>Some tags after</div>